#html, body {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 300px;
    height: 80%;
    margin: auto;
}

.authenticationText {
    color: #0000FF;
    font-size: 23px;
}

.authenticationLabels {
    font-size: 23px;
}

.loginButton {
    width: 70;
    height: 40;
}

.newGameButton {
    width: 250;
    height: 40;
}

.createGameButton {
    width: 150;
    height: 30;
}

.redBackground {
    background-color: #F9A0A0;
}

.lightRedBackground {
    background-color: #FBDCDC;
}

.redText {
    color: #FF0000;
}

.gameWinner {
    color: #FF0000;
    font-size: 30px;
}

.gameFailure {
    color: #0000FF;
    font-size: 30px;
}

.gamePlayer {
    font-size: 30px;
}

.fontSize27 {
    font-size: 27px;
}

.newGameForm {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}
